USE [master]
GO
/****** Object:  Database [Webshop_KING]    Script Date: 23.7.2021. 10:06:58 ******/
CREATE DATABASE [Webshop_KING]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Webshop_KING', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Webshop_KING.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Webshop_KING_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Webshop_KING_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Webshop_KING].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Webshop_KING]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 23.7.2021. 10:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Bran] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nacin_placanja]    Script Date: 23.7.2021. 10:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nacin_placanja](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Nacin_placanj] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Narudzba]    Script Date: 23.7.2021. 10:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Narudzba](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Datum] [date] NOT NULL,
	[Ukupna_Cijena_Bez_P] [float] NOT NULL,
	[Ukupna_Cijena_S_P] [float] NOT NULL,
	[Kod_Za_Popust_ID] [int] NOT NULL,
	[Nacin_Placanja_ID] [int] NOT NULL,
	[Broj_Kartice] [varchar](16) NULL,
	[Email] [varchar](50) NOT NULL,
	[Broj_Mobitela] [varchar](13) NOT NULL,
	[Adresa_Dostave] [varchar](50) NOT NULL,
	[Napomena] [varchar](50) NULL,
 CONSTRAINT [PK_Narudzb] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Narudzba_proizvod]    Script Date: 23.7.2021. 10:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Narudzba_proizvod](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Narudzba_ID] [int] NOT NULL,
	[Proizvod_ID] [int] NOT NULL,
 CONSTRAINT [PK_Narudzba_proizvod] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Popust_kodovi]    Script Date: 23.7.2021. 10:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Popust_kodovi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Kod] [varchar](10) NOT NULL,
	[Popust] [float] NOT NULL,
	[Iskoristen] [bit] NOT NULL,
 CONSTRAINT [PK_Popust_kodov] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proizvod]    Script Date: 23.7.2021. 10:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvod](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
	[Opis] [text] NOT NULL,
	[Cijena] [float] NOT NULL,
	[Kolicina] [int] NOT NULL,
	[Brand_ID] [int] NOT NULL,
 CONSTRAINT [PK_Pro] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Narudzba]  WITH CHECK ADD  CONSTRAINT [FK_Narudzba_Nacin_placanja] FOREIGN KEY([Nacin_Placanja_ID])
REFERENCES [dbo].[Nacin_placanja] ([ID])
GO
ALTER TABLE [dbo].[Narudzba] CHECK CONSTRAINT [FK_Narudzba_Nacin_placanja]
GO
ALTER TABLE [dbo].[Narudzba]  WITH CHECK ADD  CONSTRAINT [FK_Narudzba_Popust_kodovi] FOREIGN KEY([Kod_Za_Popust_ID])
REFERENCES [dbo].[Popust_kodovi] ([ID])
GO
ALTER TABLE [dbo].[Narudzba] CHECK CONSTRAINT [FK_Narudzba_Popust_kodovi]
GO
ALTER TABLE [dbo].[Narudzba_proizvod]  WITH CHECK ADD  CONSTRAINT [FK_Narudzba_proizvod_Narudzba] FOREIGN KEY([Narudzba_ID])
REFERENCES [dbo].[Narudzba] ([ID])
GO
ALTER TABLE [dbo].[Narudzba_proizvod] CHECK CONSTRAINT [FK_Narudzba_proizvod_Narudzba]
GO
ALTER TABLE [dbo].[Narudzba_proizvod]  WITH CHECK ADD  CONSTRAINT [FK_Narudzba_proizvod_Proizvod] FOREIGN KEY([Proizvod_ID])
REFERENCES [dbo].[Proizvod] ([ID])
GO
ALTER TABLE [dbo].[Narudzba_proizvod] CHECK CONSTRAINT [FK_Narudzba_proizvod_Proizvod]
GO
ALTER TABLE [dbo].[Proizvod]  WITH CHECK ADD  CONSTRAINT [FK_Proizvod_Brand] FOREIGN KEY([Brand_ID])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[Proizvod] CHECK CONSTRAINT [FK_Proizvod_Brand]
GO
USE [master]
GO
